
<div class="col position-fixed mt-100">
  <div id='success' class='alert alert-success'{{#if noMessage}} hidden {{/if}}>
    {{successMsg}}
  </div>
</div>

<!-- start banner Area -->
<section class="banner-area" id="home">	
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-start">
			<div class="banner-content col-lg-7">
				<h6 class="text-white text-uppercase">La tentazione del relax</h6>
				<h1>
					Iniziamo la giornata <br>
					con T&Egrave;		
				</h1>
				<a href="#ordina" class="primary-btn text-uppercase">Ordina</a>
			</div>											
		</div>
	</div>
</section>
<!-- End banner Area -->	

<!-- Start video-sec Area -->
<section class="video-sec-area pb-100 pt-40" id="video">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
				<div class="overlay overlay-bg"></div>
				<a class="play-btn" href="https://youtu.be/Yx8EmMuMjgM"><img class="img-fluid" src="/images/play-icon.png" alt=""></a>
			</div>						
			<div class="col-lg-6 video-left">
				<h6>Processo di miscelazione</h6>
				<h1>Dalla vostra scelta <br>
					alle nostre mani</h1>
				<p>
					Siamo qui per fornivi l'esperienza che cercate nel vostro T&Egrave;. Scegliete gli ingredienti che preferite e noi creeremo la bevanda sul momento, 
					per regalarvi un esperienza unica. Pensata da voi, realizzata da noi.
				</p>
				<img class="img-fluid" src="/images/signature.png" alt="">
			</div>
		</div>
	</div>	
</section>
<!-- End video-sec Area -->

<!-- Start menu Area -->
<section class="menu-area section-gap" id="miscele">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Miscele Base</h1>
					<p>Miscele popolari tra lo staff</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Lampone e lime</h4>
						<p class="price float-right">
							7.50€
						</p>
					</div>
					<p>
						Un dolce piacere per il palato. Sapore lampone, lime con bacche di goji.
					</p>								
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Chai piccante</h4>
						<p class="price float-right">
							5.60€
						</p>
					</div>
					<p>
						I peperoncini interi accendono il dolce speziato dello zenzero.
					</p>								
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Chai cacao speziato</h4>
						<p class="price float-right">
							5.60€
						</p>
					</div>
					<p>
						Avvolgente aroma di cacao con note speziate.
					</p>								
				</div>
			</div>	
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Tisana ulivo e zenzero</h4>
						<p class="price float-right">
							6.80€
						</p>
					</div>
					<p>
						Sapore limone, zenzero utile contro l'ipertensione
					</p>								
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Energia vitale</h4>
						<p class="price float-right">
							7.20€
						</p>
					</div>
					<p>
						Spiccato e persistente sapore di zenzero con retrogusto di liquirizia e cannella.
					</p>								
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Sere d'inverno</h4>
						<p class="price float-right">
							5.70€
						</p>
					</div>
					<p>
						Sapore di cannella con note di arancia e vaniglia per riscaldare le sere invernali.
					</p>								
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Esplosione di frutta</h4>
						<p class="price float-right">
							5.40€
						</p>
					</div>
					<p>
						Intenso sapore fruttato di pompelmo, fragola, arancia.
					</p>								
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Dolce crepuscolo</h4>
						<p class="price float-right">
							5.20€
						</p>
					</div>
					<p>
						L'aroma della melissa unito al sapore della menta per dimenticare lo stress.
					</p>								
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-menu">
					<div class="title-div justify-content-between d-flex">
						<h4>Tisana del buongiorno</h4>
						<p class="price float-right">
							6.80€
						</p>
					</div>
					<p>
						Una carica di energia grazie al mate e al tè verde.
					</p>								
				</div>
			</div>															
		</div>
	</div>	
</section>
<!-- End menu Area -->

<!-- Start gallery Area -->
<section class="gallery-area section-gap" id="connor">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">TÈmptation sui social</h1>
					<p>Condividi sui social il tuo amore per il té.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-4">
				<a href="/images/g1.jpg" class="img-pop-home">
					<img class="img-fluid" src="/images/g1.jpg" alt="">
				</a>	
				<a href="/images/g2.jpg" class="img-pop-home">
					<img class="img-fluid" src="/images/g2.jpg" alt="">
				</a>	
			</div>
			<div class="col-lg-8">
				<a href="/images/g3.jpg" class="img-pop-home">
					<img class="img-fluid" src="/images/g3.jpg" alt="">
				</a>	
				<div class="row">
					<div class="col-lg-6">
						<a href="/images/g4.jpg" class="img-pop-home">
							<img class="img-fluid" src="/images/g4.jpg" alt="">
						</a>	
					</div>
					<div class="col-lg-6">
						<a href="/images/g5.jpg" class="img-pop-home">
							<img class="img-fluid" src="/images/g5.jpg" alt="">
						</a>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</section>
<!-- End gallery Area -->

<!-- Start review Area -->
<section class="review-area section-gap" id="recensioni">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">La vostra opinione conta molto</h1>
					<p>Aiutaci a migliorare condividendo la tua esperienza qui</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-6 col-md-6 single-review">
				<img src="/images/r1.png" alt="">
				<div class="title d-flex flex-row">
					<h4>Esperienza Unica</h4>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>								
					</div>
				</div>
				<p>
					Qui al T&Egrave;mptation ho avuto un esperienza unica. Sono un amante del T&Egrave; da anni, quando sono a casa adoro prepararmi la mia miscela 
					e sono stato veramente felice di aver avuto l'occasione di farla provare anche ai miei colleghi di lavoro portandoli qui. 
					Consigliatissimo a chiunque ami il T&Egrave;
				</p>
			</div>	
			<div class="col-lg-6 col-md-6 single-review">
				<img src="/images/r2.png" alt="">
				<div class="title d-flex flex-row">
					<h4>Complimenti allo staff</h4>
					<div class="star">
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>
						<span class="fa fa-star checked"></span>								
					</div>
				</div>
				<p>
					Non ero un amante del te, sono venuto per la prima volta al T&Egrave;mptation con un amico e ho deciso di provare una miscela. 
					Ho chiesto allo staff che è stato subito in grado di capire cosa potesse piacermi da un paio di domande, il te era buonissimo. 
					Mi hanno anche detto che sul sito potevo ricevere lo stesso supporto da un bot, ero scettico a riguardo ma funziona molto bene. 
					Ora la mia scoperta di nuove miscele è un appuntamento fisso.
				</p>
			</div>	
		</div>
		<div class="row counter-row">
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">2536</h1>
				<p>Clienti Felici</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">7562</h1>
				<p>Clienti iscritti</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">2013</h1>
				<p>Consigli di Connor</p>
			</div>
			<div class="col-lg-3 col-md-6 single-counter">
				<h1 class="counter">10536</h1>
				<p>Combinazioni realizzate</p>
			</div>																		
		</div>
	</div>	
</section>
<!-- End review Area -->

<!-- Start blog Area -->
<section class="blog-area section-gap" id="about">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-60 col-lg-10">
				<div class="title text-center">
					<h1 class="mb-10">Chi è Connor?</h1>
					<p>Connor è la nostra intelligenza artificiale che vi aiuta a scegliere le miscele</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="col-lg-6 col-md-6 single-blog">
				<img class="img-fluid" src="/images/article1.jpg" alt="">
				<ul class="post-tags">
					<li>Curiosità</li>
					<li>Lore</li>
				</ul>
				<a href="/article1"><h4>Da dove nasce l'idea di Connor?</h4></a>
				<p>
					Connor è stata un idea del momento, ci abbiamo ragionato per un pò e sembrava una bella idea, quindi abbiamo chiesto ad un amico che se ne intendeva e..
				</p>
				<p class="post-date">
					31 Gennaio, 2020
				</p>
			</div>
			<div class="col-lg-6 col-md-6 single-blog">
				<img class="img-fluid" src="/images/article2.jpg" alt="">
				<ul class="post-tags">
					<li>Personalità</li>
					<li>Curiosità</li>
				</ul>
				<a href="/article2"><h4>Se Connor fosse una persona che personalità avrebbe?</h4></a>
				<p>
					Ci abbiamo pensato molto, anche dopo averlo aggiunto al sito, avevamo idee discordanti tra i membri dello staff. Ognuno lo immaginava diversamente...
				</p>
				<p class="post-date">
					3 Aprile, 2020
				</p>
			</div>						
		</div>
	</div>	
</section>
<!-- End blog Area -->


<!-- start footer Area -->		
<footer class="footer-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>About Us</h6>
					<p>
						Il progetto è stato realizzato con cura per il corso di Cloud Computing - Università degli Studi di Salerno.
					</p>
					<p class="footer-text">
						
Fatto col <i class="fa fa-heart-o" aria-hidden="true"></i> da <a href="https://alessiocasolaro.github.io" target="_blank">Alessio Casolaro</a> e <a href="https://ciromaiorino.github.io/" target="_blank">Ciro Maiorino</a>

					</p>
				</div>
			</div>
			<div class="col-lg-5  col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h6>Newsletter</h6>
					<p>Resta aggiornato sui nostri ultimi contenuti</p>
					<div class="" id="mc_embed_signup">
						<form target="_blank" novalidate="true" action="" method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
								<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>

							<div class="info pt-20"></div>
						</form>
					</div>
				</div>
			</div>						
			<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
				<div class="single-footer-widget">
					<h6>Seguici</h6>
					<p>Cerchiamo di essere social</p>
					<div class="footer-social d-flex align-items-center">
						<a href="#"><i class="fa fa-github"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>							
		</div>
	</div>
</footer>	
<!-- End footer Area -->	
