<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/images/fav.ico">
  <!-- Author Meta -->
  <meta name="author" content="codepixer">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>T&Egrave;mptation - Tea Shop</title>

  <!-- Bootstrap, fontawesome, CSS -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="/css/linearicons.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/articles.css">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

</head>

<body>
  <header id="header" id="home">
  <div class="header-top">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
          <ul>
            <li>
              Lun-Ven: 8:00 - 18:00
            </li>
            <li>
              Sab-Dom: 11:00 - 14:00
            </li>
            <li>
              <a href="tel:081 8993245">081 8993245</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/"><img src="/images/logo.png" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#miscele">Miscele</a></li>
          <li><a href="#recensioni">Recensioni</a></li>
          <li><a href="#about">Connor</a></li>
          <li class="menu-has-children"><a href="">Pages</a>
            <ul>
              <li><a href="generic.html">Generic</a></li>
              <li><a href="elements.html">Elements</a></li>
            </ul>
          </li>
          <li class="menu-has-children"><a class="black">Shop</a>
            <ul>
              <li><a href="stuff">Preparati</a></li>
              <li><a href="elements.html">Miscele</a></li>
            </ul>
          </li>
          {{# if login}}
          <li class="menu-has-children"><a class="white">Utente</a>
            <ul>
              <li><a href="/user/dashboard">Dashboard</a></li>
              <li><a href="/user/profile">Profilo</a></li>
            </ul>
          </li>
          <li><a href="/user/logout" class="white">Logout</a></li>
          {{ else }}
          <li><a href="user/login" class="white">Login</a></li>
          <li><a href="user/register" class="white">Registrati</a></li>
          {{/if}}
          <li><a href="/cart"></p><i class="fa fa-shopping-cart white" aria-hidden="true"></i></a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </div>
  </header><!-- #header -->

  {{{body}}}




  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/javascripts/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="/javascripts/vendor/bootstrap.min.js"></script>
  <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>-->
  <script src="/javascripts/easing.min.js"></script>
  <script src="/javascripts/hoverIntent.js"></script>
  <script src="/javascripts/superfish.min.js"></script>
  <script src="/javascripts/jquery.ajaxchimp.min.js"></script>
  <script src="/javascripts/jquery.magnific-popup.min.js"></script>
  <script src="/javascripts/owl.carousel.min.js"></script>
  <script src="/javascripts/jquery.sticky.js"></script>
  <script src="/javascripts/jquery.nice-select.min.js"></script>
  <script src="/javascripts/parallax.min.js"></script>
  <script src="/javascripts/waypoints.min.js"></script>
  <script src="/javascripts/jquery.counterup.min.js"></script>
  <script src="/javascripts/mail-script.js"></script>
  <script src="/javascripts/main.js"></script>

</body>





</html>