<section class="generic-banner relative mt-150">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">Da dove nasce l'idea di Connor?</h2>
                    <p class="text-white">La storia di come è nata l'idea di Connor come bot per aiutare<br>i clienti a
                        scegliere le loro mischele</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-wrapper">
    <section class="about-generic-area section-gap">
        <div class="container border-top-generic">
            <h3 class="about-title mb-30">Da dove nasce l'idea di Connor?</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="img-text">
                        <p>Ci abbiamo pensato molto, anche dopo averlo aggiunto al sito, avevamo idee discordanti tra i
                            membri dello staff. Ognuno lo immaginava diversamente quindi abbiamo pensato di dargli il
                            nome di uno youtuber che conoscevamo</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <p>Quando abbiamo aggiunto il bot al sistema io Alessio e gli altri 3 membri dello staff abbiamo
                        continuato a definirlo "bot" ma era troppo impersonale quindi per i clienti non andava bene e
                        pensammo che gli servisse un nome così che sembrasse facile per la clientela relazionarsi con
                        lui. Quindi ho provato a chiedere ad ognuno come si immaginava il bot e se avessero un nome da
                        dargli.
                        Alessio mi disse che se lo immaginava come Mr.Bean, il noto personaggio inglese che non parla e
                        adora il suo orsetto, gli feci notare che una persona silenziosa non è adatta a lavorare in un
                        bar. Pamela lo immaginava come un signore di Londra con monocolo e lunghi baffi che passa le
                        giornate a giocare a Bridge con gli amici ormai anziani (Non so come mai fu così dettagliata),
                        gli dissi che forse un signore anziano non avrebbe attirato un pubblico giovane.
                        Lorenzo bisbotico come al solito si riutò di aiutarmi nella scelta. Infine Francesco disse:
                        Basta che sia inglese quindi, mi sembra un pò razzista, anche fuori dall'Inghilterra bevono The,
                        ne siamo la prova, ma se vuoi scegliere un inglese prendi ispirazione da una persona famosa.
                        Ignorai la prima parte e pensai a persone famose inglesi e mi venne in mente "CDawgVA" uno
                        youtuber e doppiatore che conoscevamo tutti nel locale, fanatico del te, un pò burbero ma sempre
                        disponibile ad aiutare. Da lui prendemmo il nome e se lo chiedete la personalità, chiedemmo via
                        mail anche il permesso per usare alcune delle sue foto per il bot, ci rispose (Dopo una
                        settimana), "Se il The è buono, fate pure"
                        <br> Se avete altre domande sul bot, chiedete allo staff, quello di carne, saranno felici di
                        rispondervi.
                    </p>
                </div>

            </div>
        </div>
    </section>
</div>