<section class="generic-banner relative mt-150">
    <div class="container">
        <div class="row height align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="generic-banner-content">
                    <h2 class="text-white">Da dove nasce l'idea di Connor?</h2>
                    <p class="text-white">La storia di come è nata l'idea di Connor come bot per aiutare<br>i clienti a
                        scegliere le loro mischele</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="main-wrapper">
    <section class="about-generic-area section-gap">
        <div class="container border-top-generic">
            <h3 class="about-title mb-30">Da dove nasce l'idea di Connor?</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="img-text">
                        <p>Connor è stata un idea del momento, ci abbiamo pensato e sembrava una bella idea, quindi
                            abbiamo chiesto ad un amico che se ne intendeva e dopo una breve chiaccherata ci ha
                            confermato che l'idea era fattibile e si offrì di farlo.</p>
                    </div>
                </div>
                <div class="col-lg-12">
                    <p>Ovviamente all'inizio quando abbiamo avuto l'idea non si chiamava Connor e tutto era ancora da
                        definire,ricordo che eravamo in una pizzeria Gourmet dopo la chiusura del nostro locale, io
                        c'ero già stato ma per Alessio era la prima volta lì. Non ricordo che evento ci fosse, ma la
                        pizzeria era abbastanza affollata. Alessio voleva provare una nuova pizza, ma sul menù non erano
                        chiari tutti gli ingredienti e non era certo se la combinazione di alcuni di essi gli sarebbe
                        piaciuta.
                        Io gli proposi di chiedere consiglio ad un cameriere rispetto ai suoi gusti, ma in parte per la
                        timidezza, in parte a causa della situazione del locale in quel momento, Alessio preferiva non
                        farlo. In quel momento, pensando a come decidere cosa ordinare pensai una cosa: "E se qualcuno
                        potesse aiutarti a scegliere, senza doverlo disturbare, sempre disponibile e che conosce i tuoi
                        gusti?", lo dissi ad alta voce e Alessio mi guardò perplesso.
                        Avevo sentito una cosa simile dal mio amico Antonio, informatico, ma non ricordo in quale
                        contesto me lo disse o a cosa era riferito, fatto sta che una volta dato un senso alla mia frase
                        detta ad alta voce, Alessio si convinse che dovevamo lavorarci perchè era una bella idea (Per la
                        pizza io ordinai il mio solito, Alessio ordinò "La speciale" una pizza che intendeva imitare
                        quelle americane c'era fin troppa carne, non era granchè).
                        I giorni seguenti passammo le pause e almeno un ora al giorno a pensare cosa avrebbe dovuto fare
                        questo bot perchè avesse senso per un negozio di T&Egrave;, quando riuscimmo a chiarire le idee
                        le proposi ad Antonio e si offrì di aiutarci, un mese dopo circa avevamo il bot sul sito, ma il
                        nome? Quello è arrivato dopo, ne parleremo un altra volta.</p>
                </div>
            </div>
        </div>
    </section>
</div>